
/*面包屑导航重置*/
.breadNavbox{
	width: 94%;height: 26px;border-bottom:1px solid #0D6FB8 ;
	padding: 10px 20px 0 20px;margin: 0 auto;
	}
.el-breadcrumb {
    font-size: 14px;
    line-height: 20px;
}

.content-body{
	width: 92%;margin: 0 auto;padding-bottom:20px;height: auto;
}
.c-header{height: 100px;border-bottom:1px solid #b5b5b6;}
.c-h-left{float: left;height: 60px;margin-top: 20px;}
.c-h-left p:first-child{line-height: 30px;font-size: 22px;font-weight: 700; text-align: left;}
.c-h-left p:last-child{line-height: 30px;font-size: 16px;text-align: left;}
.c-h-right{float: right;height: 40px;margin-top: 40px;}

.c-h-right .el-menu--horizontal>.el-menu-item {
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0;
    border-bottom: 2px solid transparent;
    color: #909399;
}
.c-h-right .el-menu--horizontal{border:none;}
.c-h-right .el-menu-item{font-size:14px;}


.c-body{height: auto;width: 100%;}
.cb{height: auto;width: 100%;}
.imgbox{width: 100%;height: auto;padding: 30px 0;}
.imgbox img{display: block;width: 100%;height: auto;}



.cb0-content{border-bottom: 1px solid #c9cacb;padding: 30px 0;width: 100%;}

.con-titlebox{width: 100%;text-align: center;
    border-bottom: 1px solid #898989;margin-top: 30px;
	}
.con-titlebox h3{font-size: 32px;margin: 0;
    color: #4a4947;
    display: inline-block;
    font-weight: bold;
    padding-bottom: 17px;border-bottom: 5px solid #4a4947;}


/*段落*/
.section{height: auto;width: 100%;padding: 20px 0;}
.section1{height: auto;width: 100%;padding: 40px 0 20px 0;}
.section1 p{
	width: 100%;
	color: #4a4947;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 40px;
    text-align: center;
}
.section p{
	width: 100%;
	color: #4a4947;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 25px;
    text-align: center;
}
.joinLimg{width: 80%;height: auto;display: block;margin: 10px auto;}
.tablebox{width: 80%;margin: 10px auto;}
.cell{text-align: center;color: #4d4948;font-size: 18px;}
.el-table--border, .el-table--group {
    border: 1px solid #4d4948;
}
.el-table td, .el-table th.is-leaf {
    border-bottom: 1px solid #4d4948;
}
.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
    border-right: 1px solid #4d4948;
}