
/*面包屑导航重置*/
.breadNavbox{
	width: 94%;height: 26px;border-bottom:1px solid #0D6FB8 ;
	padding: 10px 20px 0 20px;margin: 0 auto;
	}
.el-breadcrumb {
    font-size: 14px;
    line-height: 20px;
}

.content-body{
	width: 92%;margin: 0 auto;padding-bottom:20px;height: auto;
}
.c-header{height: 100px;border-bottom:1px solid #b5b5b6;}
.c-h-left{float: left;height: 60px;margin-top: 20px;}
.c-h-left p:first-child{line-height: 30px;font-size: 22px;font-weight: 700; text-align: left;}
.c-h-left p:last-child{line-height: 30px;font-size: 16px;text-align: left;}
.c-h-right{float: right;height: 40px;margin-top: 40px;}

.c-h-right .el-menu--horizontal>.el-menu-item {
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0;
    border-bottom: 2px solid transparent;
    color: #909399;
}
.c-h-right .el-menu--horizontal{border:none;}
.c-h-right .el-menu-item{font-size:14px;}


.c-body{height: auto;width: 100%;}
.cb{height: auto;width: 100%;}
.imgbox{width: 100%;height: auto;padding: 30px 0;}
.imgbox img{display: block;width: 100%;height: auto;}
.cb0-content{border-bottom: 1px solid #c9cacb;margin: 30px 0;}

.cb-p-title{width: 100%;height: auto;}
.cb-p-title span{display: block;}
.cb-title{line-height: 40px;font-size: 28px;font-weight: 700;text-align: center;color: #333333;}
.cb-line{width: 100px;height: 1px;background: #888888;margin: 10px auto;}
.cb-stitle{line-height: 30px;font-size: 16px;text-align: center;color: #888888;}

/*段落*/
.section{height: auto;}
.section p{
	color: #727171;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 25px;
    padding-bottom: 36px;
    text-align: justify;
}

.con-titlebox{width: 100%;text-align: center;
    border-bottom: 1px solid #898989;
	}
.con-titlebox h3{font-size: 32px;margin: 0;
    color: #000;
    display: inline-block;
    font-weight: bold;
    padding-bottom: 17px;border-bottom: 5px solid #27b7f8;}

.con-body{width: 1202px;height: auto;}
.con-body ul{width: 1202px;margin: 10px 0;height: 480px;}
.con-body ul li{width: 290px;margin-right: 14px;height: 480px;float: left;}
.con-body ul li:last-child{margin: 0;}
.con-body ul li img{width: 290px;height: 192px;display: block;}
.cbodyi-tbox{width: 290px;height:288px;background: #e6e6e6;}
.cbodyi-tbox-top{padding: 30px 0 0 25px;height: 228px;box-sizing: border-box;}
.cbodyi-tbox-top .bigtitle{font-size: 30px;
    color: #000;
    font-weight: bold;}
.cbodyi-tbox-top .smtitle{    color: #515457;
    font-size: 22px;
    margin-bottom: 15px;}
.cbodyi-tbox-top .stext{    color: #515457;
    font-size: 16px;
    margin-top: 15px;}    
.cbodyi-tbox-bottom{line-height: 40px;text-align: center;}
