<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>pro</title>
		<link rel="stylesheet" href="css/comcss/emui.css" />
		<link rel="stylesheet" href="css/comcss/com.css" />
		<link rel="stylesheet" href="css/contact.css" />
	</head>
	<body>
		<div id="app">
			<my-nav></my-nav>
			
			<article>
				<div class="articlebox">
					<!--面包屑导航-->
					<div class="breadNavbox">
						<el-breadcrumb class="breadcrumb" v-cloak>
							<el-breadcrumb-item v-for="(item,index) in breadcrumb">
								<a v-on:click="jumpFn(item,index)">{{ item }}</a>
							</el-breadcrumb-item>
						</el-breadcrumb>
					</div>
					
					<div class="content-body">
						<!--子导航-->
						<div class="c-header">
							<el-row>
								<el-col :span="24">
									<div class="c-h-left">
										<p>Contact Us</p>
										<p>联系我们</p>
									</div>
								</el-col>
							</el-row>
						</div>
						<div class="c-body">
							<div class="ctimgbox">
								<img class="fullimg" src="img/contact.jpg" />
								<div class="contactbox">
									<p class="infobox">
										<el-form label-position="right" label-width="80px" :model="from">
										  <el-form-item label="姓名">
										    <el-input v-model="from.name"></el-input>
										  </el-form-item>
										  <el-form-item label="Email">
										    <el-input v-model="from.eamil"></el-input>
										  </el-form-item>
										  <el-form-item label="电话">
										    <el-input v-model="from.tel"></el-input>
										  </el-form-item>
										</el-form>
									</p>
									<p class="adsbox">
										非森新型装饰材料连锁机构 咨询热线 : 400-0335-009<br/>
										地址 : 河北省秦皇岛市海港区文坛路远洋商务大厦19层
									</p>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</article>
			<b-menu></b-menu>
			<!--footer-->
			<footer-box></footer-box>
		</div>
	</body>
	<script src="js/comjs/vue2.5.16.js"></script>
	<script src="js/comjs/emui.js"></script>
	<script src="js/comjs/rely.js"></script>
	<script type="text/javascript" src="js/comjs/nav.js" ></script>
	<script>
		//banner解决拉伸问题
		//设置banner图片宽度为1920px,
		//根据屏幕宽度，计算缩放的比例，然后把高度也缩放同等比例
		//计算出来的值赋值给图片和图片盒子的高度属性
		var app=new Vue({
			el:'#app',
			data:{
				breadcrumb:[
					'返回首页','联系我们'
				],
				from:{
					name:'',
					email:'',
					tel:''
				}
			},
			methods:{
				jumpFn:function(item,index){
					console.log(item)
					console.log(index)
					if(item == '返回首页'){
						sessionStorage.setItem('navindex','0')
						window.open('index.html','_self')
					}
				}
			},
			mounted:function(){
				
			}
		})
	</script>
</html>
