<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
		<meta charset="utf-8" />
		<title>非森</title>
		<link rel="stylesheet" href="css/comcss/emui.css" />
		<link rel="stylesheet" href="css/comcss/com.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<style>
		.curImg{
			border:2px solid #66b1ff;
		}
		.carItem{
			width: 100%;
			height: 400px;
		}
		/*.carItem{
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(img/banner/a.jpg);
		}*/
	</style>
	<body>
		<div id="app">
			<my-nav></my-nav>
			
			<article>
				<div class="articlebox">
					<!--<div class="bannerbox">
						<el-carousel v-bind:height="bannerimgheight">
					      <el-carousel-item v-for="item in bannerData" :key="item">
					        <img style="display: block;width: 100%;" v-bind:style="{ height: bannerimgheight}" :src="item.src" :alt="item.text" @click="console.log(item.url)" />
					      </el-carousel-item>
					    </el-carousel>
					</div>-->
					<div class="bannerbox">
						<el-carousel height="400px">
					      <el-carousel-item v-for="item in bannerData" :key="item.src">
					        <div class="carItem"></div>
					      </el-carousel-item>
					    </el-carousel>
					</div>
					
					<div class="advan-box maxWidth">
						<!--<div class="advan-title">
							一站式渠道招商服务
						</div>-->
						<el-row title="点击查看详情" >
						  <el-col :span="9" >
						  	<div @click="openChannelFn(1)">专</div>
						  </el-col>
						  <el-col :span="6">
						  	<div @click="openChannelFn(2)">全</div>
						  </el-col>
						  <el-col :span="9">
						  	<div @click="openChannelFn(3)">快</div>
						  </el-col>
						</el-row>
					</div>
					
					<div class="casebox maxWidth">
						<div class="case_title">
							<p>成功案例</p>
							<span></span>
						</div>
						<!--<div class="caseimg_box">
							<div class="caseimg-one" v-for="(item,index) in caseDataFn">
							    <img :src="item.pics[0]">
							    <div class="card">
							    	<p>{{ item.title }}</p>
							    	<p>{{ item.descr }}</p>
							    </div>
							</div>
						</div>-->
						<div class="caseimg_box1">
							<el-carousel :interval="4000" type="card" height="400px">
							    <el-carousel-item>
							      <img style="display: block;width: 100%;" src="img/case/b.jpg" alt=""/>
							    </el-carousel-item>
							    <el-carousel-item>
							      <img style="display: block;width: 100%;" src="img/case/c.jpg" alt=""/>
							    </el-carousel-item>
							    <el-carousel-item>
							      <img style="display: block;width: 100%;" src="img/case/c.jpg" alt=""/>
							    </el-carousel-item>
							    <el-carousel-item>
							      <img style="display: block;width: 100%;" src="img/case/c.jpg" alt=""/>
							    </el-carousel-item>
							    <el-carousel-item>
							      <img style="display: block;width: 100%;" src="img/case/c.jpg" alt=""/>
							    </el-carousel-item>
							</el-carousel>
						</div>	
					</div>
				
					<div class="newsbox maxWidth">
						<el-row :gutter="20">
						  <el-col :span="12">
						  	<div class="newleft">
						  		<el-card class="box-card">
								  <div slot="header" class="clearfix">
								    <span>行业资讯</span>
								    <el-button @click="openMore(1)" style="float: right; padding: 3px 0" type="text">MORE+</el-button>
								  </div>
								  <div class="tradebox">
								    <div class="tradeimg" >
								    	<img :class="[curTradeImg[index] ? 'curImg' : '']" v-for="(item,index) in tradeImgs" :src="item" @click="tradeImgClick(index)" />
								    </div>
								    <div class="treadtextbox">
								    	<div class="treadbox">
								    		<p class="b-title" v-cloak>{{ curTradeData.title }}</p>
									    	<p class="s-title" v-cloak>
									    		<span>{{ curTradeData.titleSub }}</span>
									    		<span>{{ curTradeData.addtime }}</span>
									    	</p>
									    	<p class="b-content" v-cloak>
									    		 {{ curTradeData.content }} 
									    	</p>
									    	<div class="morebox">
									    		<!--<el-button type="info" @click="openMore">More</el-button>-->
									    		<el-button type="info" icon="el-icon-arrow-up" @click="lastFn"></el-button>
	  											<el-button type="info" icon="el-icon-arrow-down" @click="nextFn"></el-button>
									    	</div>
								    	</div>
								    </div>
								  </div>
								</el-card>
						  	</div>
						  </el-col>
						  <el-col :span="12">
						  	<div class="newright">
						  		<el-card class="box-card">
								  <div slot="header" class="clearfix">
								    <span>企业动态</span>
								    <el-button @click="openMore(2)" style="float: right; padding: 3px 0" type="text">MORE+</el-button>
								  </div>
								  <ul>
								  	<li v-for="item in enterData">
								  		<span></span>
								  		<p class="p1">{{ item.title }}</p>
								  		<p class="p2">{{ item.addtime }}</p>
								  	</li>
								  </ul>
								</el-card>
						  	</div>
						  </el-col>
						</el-row>
					</div>
				</div>
			</article>
			
			<b-menu></b-menu>
			
			<!--footer-->
			<footer-box></footer-box>
		</div>
	</body>
	<script src="js/comjs/vue2.5.16.js"></script>
	<script src="js/comjs/emui.js"></script>
	<script src="js/comjs/rely.js"></script>
	<script type="text/javascript" src="js/comjs/nav.js" ></script>
	<script>
		//banner解决拉伸问题
		//设置banner图片宽度为1920px,
		//根据屏幕宽度，计算缩放的比例，然后把高度也缩放同等比例
		//计算出来的值赋值给图片和图片盒子的高度属性
		var userToken=null,that=null;
		var app=new Vue({
			el:'#app',
			data:{
				anlinum:12,
				//导航默认选中项
				activeIndex:'1',
				bannerData:[
					{src:'img/banner/a.jpg',url:'a',text:'备注'},
					{src:'img/banner/b.jpg',url:'b',text:'备注'},
					{src:'img/banner/c.jpg',url:'c',text:'备注'}
				],
				bannerimgheight:'0px',
				enterData:[],
				
				tradeImgs:[],
				tradeData:[],
				curTradeImg:[true,false,false,false,false,false,false,false],
				curTradeData:{
					
				},
				curIndex:0,
				caseDataFn:[]
			},
			methods:{
				openMore:function(a){
					sessionStorage.setItem('navindex','4')
					window.open('news.html?type='+a,'_self')
				},
				openChannelFn:function(a){
					console.log(a)
					window.open('channelService.html?a='+a,'_self')
					sessionStorage.setItem('navindex','2');
				},
				
				login:function(){
					$.ajax({
					      url: baseUrl+'/user/manager/login?login=admin&paw=123456',
//					      dataType: 'json',
//					      contentType:'application/json',
						  async:false,
					      method: 'GET',
//					      data:parmes,
					      success: function(res) {
					      	 console.log(res);
					      	 if(res != 'error'){
					      	 	if(res.code == '1'){
						      	 	sessionStorage.setItem('userToken',res.token);
						      	 	userToken=res.token;
						      	 }else{
						      	 	that.errorHF('请求错误,请重试');
						      	 }
					      	 }else{
					      	 	that.errorHF('访问异常,请联系管理员!');
					      	 }
					      },
					     
					      error: function(e) {
					         console.log(e);
					         that.errorHF('请求错误');
					      }
					 })
				},
				
				tradeImgClick:function(index){
					//点击图片
					this.showOne(index)
				},
				
				//上一个
				lastFn:function(){
					this.curIndex--
					if(this.curIndex < 0){
						//this.curIndex = this.tradeData.length-1;
						this.curIndex = 0;
					}
					this.showOne(this.curIndex)
				},
				//下一个
				nextFn:function(){
					this.curIndex++
					if(this.curIndex >= this.tradeData.length){
						//this.curIndex = 0;
						this.curIndex=this.tradeData.length-1
					}
					this.showOne(this.curIndex)
				},
				showOne:function(index){
					console.log(index)
					var bools = [false,false,false,false,false,false,false,false];
						bools[Number(index)] = true;
					this.curTradeImg=bools;
					this.curTradeData = this.tradeData[Number(index)];
					console.log(this.curTradeData)
				},
				//查询动态
				queryEnterpriseFn:function(){
					$.ajax({
					      url: officialUrl+'/main/doc/queryListNews?currentPage=1&pageSize=8&newsType=2&token='+userToken,
					      type: 'GET',
//					      headers:{
//								token:userToken
//							},
//						  data:pars,	
					      success: function(res) {
					      	 console.log(res);
					      	 if(res.code == '1'){
					      	 	var data = res.result.list;
					      	 	for(var i=0;i<data.length;i++){
					      	 		data[i].addtime = timeChange(data[i].addtime)
					      	 		var pics=data[i].fileName.split(',');
					      	 		data[i].pics=[];
									for(var m=0;m<pics.length;m++){
										data[i].pics.push(picExcelUrl+pics[m])
									}
					      	 	}
					      	 	
					      	 	console.log(that.tradeImgs)
								
								//添加数据
					      	 	console.log(data)
					      	 	that.enterData = data;
					      	 }else{
//					      	 	that.successHF(res.msg)
					      	 }
					      	 
					      },
					      error: function(e) {
					         console.log(e);
					         that.errorHF('请求错误');
					      }
					  })
				},
				
				queryTradeFn:function(pars){
					$.ajax({
					      url: officialUrl+'/main/doc/queryListNews?currentPage=1&pageSize=8&newsType=1&token='+userToken,
					      type: 'GET',
//					      headers:{
//								token:userToken
//							},
//						  data:pars,	
					      success: function(res) {
					      	 console.log(res);
					      	 if(res.code == '1'){
					      	 	var data = res.result.list;
					      	 	for(var i=0;i<data.length;i++){
					      	 		data[i].addtime = timeChange(data[i].addtime)
					      	 		var pics=data[i].fileName.split(',');
					      	 		data[i].pics=[];
									for(var m=0;m<pics.length;m++){
										data[i].pics.push(picExcelUrl+pics[m])
									}
									
									//添加的滚动图
									if(data[i].pics[0]){
										that.tradeImgs.push(data[i].pics[0])
									}else{
										that.tradeImgs.push('img/logo.png')
									}
					      	 	}
								that.tradeData=data;
								that.curTradeData=data[0];
					      	 	console.log(that.tradeData)
					      	 }else{
//					      	 	that.successHF(res.msg)
					      	 }
					      	 
					      },
					      error: function(e) {
					         console.log(e);
					         that.errorHF('请求错误');
					      }
					  })
				},
				
				queryCaseFn:function(pars){
					
					$.ajax({
					      url: officialUrl+'/main/doc/queryListCase?currentPage=1&pageSize=12&token='+userToken,
					      type: 'GET',
//					      headers:{
//								token:userToken
//							},
//						  data:pars,	
					      success: function(res) {
					      	 console.log(res);
					      	 if(res.code == '1'){
					      	 	var data = res.result.list;
					      	 	for(var i=0;i<data.length;i++){
					      	 		data[i].addtime = timeChange(data[i].addtime)
					      	 		var pics=data[i].fileName.split(',');
					      	 		data[i].pics=[];
									for(var m=0;m<pics.length;m++){
										data[i].pics.push(picExcelUrl+pics[m])
									}
					      	 	}
					      	 	console.log(data)
					      	 	that.caseDataFn=data;
					      	 }else{
//					      	 	that.successHF(res.msg)
					      	 }
					      	 
					      },
					      error: function(e) {
					         console.log(e);
					         that.errorHF('请求错误');
					      }
					  })
				},
				
				//成功文字提示
			    successHF:function(text){
			    	this.$message({message: text,type: 'success'});
			    },
			    //错误文字提示
			    errorHF:function(text){
			    	this.$message.error(text);
			    }
				
			},
			mounted:function(){
				console.log($(document).width())
				//计算图片宽高
				that=this;
				var fullwidth=$(document).width();
				//h=ih*(fw/iw)
					var img_url ='img/banner/a.jpg';
					var img = new Image();
					img.src = img_url;
					img.onload = function(){
					 console.log('width:'+img.width+',height:'+img.height);
					 console.log(img.height*(fullwidth/img.width))
					 that.bannerimgheight=parseInt(img.height*(fullwidth/img.width))+'px'
					};
				
				
				var banners = this.bannerData;
				for(var i=0;i<banners.length;i++){
					$('.carItem').eq(i).css({
						'background-image':'url('+ banners[i].src +')',
						'background-repeat':'no-repeat',
						'background-position':'center'
					})
				}
				
				//登录
				this.login();
				
				//请求资讯和动态
				this.queryEnterpriseFn()
				this.queryTradeFn();
				//请求案例
				this.queryCaseFn();
				
			}
		})
	</script>
</html>
