<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>pro</title>
		<link rel="stylesheet" href="css/comcss/emui.css" />
		<link rel="stylesheet" href="css/comcss/com.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<div id="app">
			<my-nav></my-nav>
			
			<article>
				<div class="articlebox">
				
					<div class="bannerbox">
						<!-- v-bind:style="{ height: bannerimgheight+'px'}"-->
						<el-carousel v-bind:height="bannerimgheight">
					      <el-carousel-item v-for="item in bannerData" :key="item">
					        <img style="display: block;width: 100%;" v-bind:style="{ height: bannerimgheight}" :src="item.src" :alt="item.text" @click="console.log(item.url)" />
					      </el-carousel-item>
					    </el-carousel>
					</div>
					
					<div class="advan-box" @click="openChannelFn">
						<div class="advan-title">
							一站式渠道招商服务
						</div>
						<el-row title="点击查看详情">
						  <el-col :span="9">专</el-col>
						  <el-col :span="6">全</el-col>
						  <el-col :span="9">快</el-col>
						</el-row>
					</div>
					
					<div class="casebox">
						<div class="case_title">
							<p>成功案例</p>
							<span></span>
						</div>
						<div class="caseimg_box">
							<div class="caseimg-one" v-for="item in anlinum">
							    <img src="img/k.jpg">
							    <div class="card">
							    	<p>标题</p>
							    	<p>操作</p>
							    </div>
							</div>
						</div>
					</div>
				
					<div class="newsbox">
						<el-row :gutter="20">
						  <el-col :span="12">
						  	<div class="newleft">
						  		<el-card class="box-card">
								  <div slot="header" class="clearfix">
								    <span>行业资讯</span>
								    <el-button @click="openMore" style="float: right; padding: 3px 0" type="text">MORE+</el-button>
								  </div>
								  <div class="tradebox">
								    <div class="tradeimg">
								    	<img src="img/k.jpg" />
								    	<img src="img/k.jpg" />
								    	<img src="img/k.jpg" />
								    	<img src="img/k.jpg" />
								    	<img src="img/k.jpg" />
								    	<img src="img/k.jpg" />
								    	<img src="img/k.jpg" />
								    	<img src="img/k.jpg" />
								    </div>
								    <div class="treadtextbox">
								    	<div class="treadbox">
								    		<p class="b-title">主标题</p>
									    	<p class="s-title">
									    		<span>副标题</span>
									    		<span>2018-08-08</span>
									    	</p>
									    	<p class="b-content">
									    		 作为专注品牌招商外包的渠道速建，一直以来致力于帮助品牌商找到更精准的加盟者。本着为加盟者负责的态度，渠道速建所选择的品牌商也都是经过了市场检验的优质的、负责任的品牌商。不过，就像我们做任何事情一样，有时候不是选择的加盟项目不好，而是这个项目并不适合我们自己。加盟毕竟是一项投资，为了尽可能地降低风险，在加盟之前，我们需要搞清楚7个问题。 
									    	</p>
									    	<div class="morebox">
									    		<el-button type="info" @click="openMore">Click For More</el-button>
									    		<el-button type="info" icon="el-icon-arrow-up"></el-button>
	  											<el-button type="info" icon="el-icon-arrow-down"></el-button>
									    	</div>
								    	</div>
								    </div>
								  </div>
								</el-card>
						  	</div>
						  </el-col>
						  <el-col :span="12">
						  	<div class="newright">
						  		<el-card class="box-card">
								  <div slot="header" class="clearfix">
								    <span>企业动态</span>
								    <el-button @click="openMore" style="float: right; padding: 3px 0" type="text">MORE+</el-button>
								  </div>
								  <ul>
								  	<li v-for="item in 11">
								  		<span></span>
								  		<p class="p1">标题</p>
								  		<p class="p2">2019-09-09</p>
								  	</li>
								  </ul>
								</el-card>
						  	</div>
						  </el-col>
						</el-row>
					</div>
				</div>
			</article>
			
			<b-menu></b-menu>
			
			<!--footer-->
			<footer-box></footer-box>
		</div>
	</body>
	<script src="js/comjs/vue2.5.16.js"></script>
	<script src="js/comjs/emui.js"></script>
	<script src="js/comjs/rely.js"></script>
	<script type="text/javascript" src="js/comjs/nav.js" ></script>
	<script>
		//banner解决拉伸问题
		//设置banner图片宽度为1920px,
		//根据屏幕宽度，计算缩放的比例，然后把高度也缩放同等比例
		//计算出来的值赋值给图片和图片盒子的高度属性
		var app=new Vue({
			el:'#app',
			data:{
				anlinum:12,
				//导航默认选中项
				activeIndex:'1',
				bannerData:[
					{src:'img/a.jpg',url:'a',text:'备注'},
					{src:'img/b.jpg',url:'b',text:'备注'},
					{src:'img/c.jpg',url:'c',text:'备注'}
				],
				bannerimgheight:'0px'
			},
			methods:{
				openMore:function(){
					sessionStorage.setItem('navindex','3')
					window.open('news.html','_self')
				},
				openChannelFn:function(){
					window.open('channelService.html','_self')
					sessionStorage.setItem('navindex','2');
				}
			},
			mounted:function(){
				console.log($(document).width())
				//计算图片宽高
				var that=this,fullwidth=$(document).width();
				//h=ih*(fw/iw)
					var img_url ='img/a.jpg';
					var img = new Image();
					img.src = img_url;
					img.onload = function(){
					 console.log('width:'+img.width+',height:'+img.height);
					 console.log(img.height*(fullwidth/img.width))
					 that.bannerimgheight=parseInt(img.height*(fullwidth/img.width))+'px'
					};
				
				
			}
		})
	</script>
</html>
