<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>pro</title>
		<link rel="stylesheet" href="css/comcss/emui.css" />
		<link rel="stylesheet" href="css/comcss/com.css" />
		<link rel="stylesheet" href="css/news.css" />
	</head>
	<style>
		.cb0{
			max-width: 1200px;
		}
		.n_titlebox{
			height: auto;
			width: 100%;
		}
		.bigT{
			width: 100%;height: 50px;line-height: 50px;font-size: 18px;
			text-align: center;color: #333333;
		}
		.smallT{
			width:250px;height: 30px;line-height: 30px;font-size: 16px;
			text-align: center;color: #888888;margin: 0 auto;
		}
		.smallT span:first-child{margin-right: 50px;}
		.n_pic{
			display: block;margin: 20px auto;max-width: 700px;width: 100%;
			height: auto;
		}
		.n_content{
			width: 100%;max-width: 700px;height: auto;margin: 0 auto;
		}
		.n_content p{
			height: auto;line-height: 30px;color: #666666;font-size: 14px;
			text-align: left;text-indent: 20px;
		}
		.leftTitleBox{
			width: 280px;height: 50px;line-height: 50px;text-align: left;
			font-size: 18px;font-weight: bold;color: #333333;
		}
	</style>
	<body>
		<div id="app">
			<my-nav></my-nav>
			
			<article>
				<div class="articlebox">
					<!--面包屑导航-->
					<div class="breadNavbox">
						<el-breadcrumb class="breadcrumb" v-cloak>
							<el-breadcrumb-item v-for="(item,index) in breadcrumb">
								<a v-on:click="jumpFn(item,index)">{{ item }}</a>
							</el-breadcrumb-item>
						</el-breadcrumb>
					</div>
					
					<div class="content-body">
						<!--子导航-->
						<div class="c-header">
							<el-row>
								<el-col :span="10">
									<div class="c-h-left">
										<p>News</p>
										<p>新闻中心</p>
									</div>
								</el-col>
							</el-row>
						</div>
						<div class="c-body">
							<div class="c-b cb0"> 
								
								
								
								
								<div class="cb-leftbox">
									<p class="leftTitleBox">
										更多新闻
									</p>
									<ul v-cloak>
										<li v-for="item in leftData"  @click="openNewDetail(item)">
											<a>{{ item.title }}</a>
											<span></span>
										</li>
									</ul>
								</div>
								<div class="cb-rightbox">
									<div class="n_titlebox">
										<p class="bigT">{{ detailData.title }}</p>
										<p class="smallT">
											<span>{{ detailData.titleSub }}</span>
											<span>{{ detailData.addtime }}</span>
										</p>
									</div>
									
									<img v-for="item in detailData.pics" class="n_pic" :src="item"/>
									
									<div class="n_content">
										<p v-for="item in detailData.contents">
											{{ item }}
										</p>
									</div>
								</div>
								
							</div>
							
							
						</div>
					</div>
					
				</div>
			</article>
			
			<b-menu></b-menu>
			
			<!--footer-->
			<footer-box></footer-box>
		</div>
	</body>
	<script src="js/comjs/vue2.5.16.js"></script>
	<script src="js/comjs/emui.js"></script>
	<script src="js/comjs/rely.js"></script>
	<script type="text/javascript" src="js/comjs/nav.js" ></script>
	<script>
		//banner解决拉伸问题
		//设置banner图片宽度为1920px,
		//根据屏幕宽度，计算缩放的比例，然后把高度也缩放同等比例
		//计算出来的值赋值给图片和图片盒子的高度属性
		
		var that=null;
		var userToken = sessionStorage.getItem('userToken');
		if(!userToken){
			window.open('index.html','_self');
		}
		
		var app=new Vue({
			el:'#app',
			data:{
				type:'行业资讯',
				breadcrumb:[
					'返回首页','新闻中心','行业资讯'
				],
				leftData:[],
				detailData:{
					pics:['img/logo.png']
				}
			},
			methods:{
				jumpFn:function(item,index){
					console.log(item)
					console.log(index)
					if(item == '返回首页'){
						sessionStorage.setItem('navindex','0')
						window.open('index.html','_self')
					}else if(item == '新闻中心'){
						window.open('news.html','_self')
					}
				},
				
				
				//查询动态
				queryDataFn:function(id){
					$.ajax({
					      url: officialUrl+'/main/doc/newsDetail?id='+id+'&token='+userToken,
					      type: 'GET',
//					      headers:{
//								token:userToken
//							},	
					      success: function(res) {
					      	 console.log(res);
					      	 
					      	 if(res.code == '1'){
					      	 	var data = res.result;
					      	 	data.addtime = timeChange(data.addtime)
				      	 		var pics=data.fileName.split(',');
				      	 		data.pics=[];
								for(var m=0;m<pics.length;m++){
									data.pics.push(picExcelUrl+pics[m])
								}
								data.contents = data.content.split('<br/>');
								console.log(data.contents)
								that.breadcrumb.push(data.title)
					      	 	that.detailData = data;
					      	 }else{
					      	 	that.successHF(res.msg)
					      	 }
					      	 
					      },
					      error: function(e) {
					         console.log(e);
					         that.errorHF('请求错误');
					      }
					  })
				},
				
				//查询动态
				queryEnterpriseFn:function(){
					$.ajax({
					      url: officialUrl+'/main/doc/queryListNews?currentPage=1&pageSize=20&newsType=2&token='+userToken,
					      type: 'GET',
//					      headers:{
//								token:userToken
//							},
//						  data:pars,	
					      success: function(res) {
					      	 console.log(res);
					      	 if(res.code == '1'){
					      	 	var data = res.result.list;
					      	 	for(var i=0;i<data.length;i++){
					      	 		data[i].addtime = timeChange(data[i].addtime)
					      	 		var pics=data[i].fileName.split(',');
					      	 		data[i].pics=[];
									for(var m=0;m<pics.length;m++){
										data[i].pics.push(picExcelUrl+pics[m])
									}
					      	 	}
					      	 	
					      	 	that.leftData = data;
					      	 }else{
					      	 	that.successHF(res.msg)
					      	 }
					      	 
					      },
					      error: function(e) {
					         console.log(e);
					         that.errorHF('请求错误');
					      }
					  })
				},
				
				queryTradeFn:function(pars){
					$.ajax({
					      url: officialUrl+'/main/doc/queryListNews?currentPage=1&pageSize=20&newsType=1&token='+userToken,
					      type: 'GET',
//					      headers:{
//								token:userToken
//							},
//						  data:pars,	
					      success: function(res) {
					      	 console.log(res);
					      	 if(res.code == '1'){
					      	 	var data = res.result.list;
					      	 	for(var i=0;i<data.length;i++){
					      	 		data[i].addtime = timeChange(data[i].addtime)
					      	 		var pics=data[i].fileName.split(',');
					      	 		data[i].pics=[];
									for(var m=0;m<pics.length;m++){
										data[i].pics.push(picExcelUrl+pics[m])
									}
					      	 	}
								that.leftData = data;
					      	 }else{
					      	 	that.successHF(res.msg)
					      	 }
					      	 
					      },
					      error: function(e) {
					         console.log(e);
					         that.errorHF('请求错误');
					      }
					  })
				},
				
				//成功文字提示
			    successHF:function(text){
			    	this.$message({message: text,type: 'success'});
			    },
			    //错误文字提示
			    errorHF:function(text){
			    	this.$message.error(text);
			    },
			    openNewDetail:function(info){
					console.log(info);
					window.open('newDetail.html?type='+info.newsType+'&id='+info.id,'_self')
				}
			},
			mounted:function(){
				that=this;
				//$('.cb0').css('height',$('.cb-rightbox').height());
				var str = window.location.search;
				str = str.substr(1,str.length-1).split('&');
				var type = {};
				for(var i=0;i<str.length;i++){
					var child = str[i].split('=');
					type[child[0]] = child[1];
				}
				console.log(type);
				
				if(type.type == '1'){ //行业资讯
					this.breadcrumb=['返回首页','新闻中心','行业资讯详情'];
					this.queryTradeFn();
				}else if(type.type == '2') { //企业动态
					this.breadcrumb=['返回首页','新闻中心','企业动态详情'];
					this.queryEnterpriseFn()
				}
				
				this.queryDataFn(type.id)
				
				
			}
		})
	</script>
</html>
