<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>pro</title>
		<link rel="stylesheet" href="css/comcss/emui.css" />
		<link rel="stylesheet" href="css/comcss/com.css" />
		<link rel="stylesheet" href="css/succeedCase.css" />
	</head>
	<body>
		<div id="app">
			<my-nav></my-nav>
			
			<article>
				<div class="articlebox">
					<!--面包屑导航-->
					<div class="breadNavbox">
						<el-breadcrumb class="breadcrumb" v-cloak>
							<el-breadcrumb-item v-for="(item,index) in breadcrumb">
								<a v-on:click="jumpFn(item,index)">{{ item }}</a>
							</el-breadcrumb-item>
						</el-breadcrumb>
					</div>
					
					<div class="content-body">
						<!--子导航-->
						<div class="c-header">
							<el-row>
								<el-col :span="24">
									<div class="c-h-left">
										<p>Channel Cases</p>
										<p>成功案例</p>
									</div>
								</el-col>
							</el-row>
						</div>
						<div class="c-body">
							<div class="c-b cb0"> 
								<div class="imgbox">
									<img src="img/chenggonganli/chenggonganli.png" />
								</div>
								<div class="cb0-content">
									<div class="con-titlebox">
										<h3>成功案例</h3>
									</div>
									<div class="con-body">
										<ul class="con-body-item">
											<li v-for="item in 12">
												<img src="img/chenggonganli/case1.png" />
												<div class="cbodyi-tbox">
													<div class="cbodyi-tbox-top">
														<p class="bigtitle">缤果时光</p>
														<p class="smtitle">因时代而生，就这个调调儿</p>
														<p class="stext">
															Jul 20, 2016<br/>
                      										Banking & Insurance<br/>
                      										Readed : 83<br/>
                      										Tag : Catering Drinks Mix
														</p>
													</div>
													<div class="cbodyi-tbox-bottom">
														<el-button type="text">查看详情<i class="el-icon-d-arrow-right el-icon--right"></i></el-button>
													</div>
												</div>
											</li>
										</ul>
										
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</article>
			<b-menu></b-menu>
			
			<!--footer-->
			<footer-box></footer-box>
		</div>
	</body>
	<script src="js/comjs/vue2.5.16.js"></script>
	<script src="js/comjs/emui.js"></script>
	<script src="js/comjs/rely.js"></script>
	<script type="text/javascript" src="js/comjs/nav.js" ></script>
	<script>
		//banner解决拉伸问题
		//设置banner图片宽度为1920px,
		//根据屏幕宽度，计算缩放的比例，然后把高度也缩放同等比例
		//计算出来的值赋值给图片和图片盒子的高度属性
		var app=new Vue({
			el:'#app',
			data:{
				breadcrumb:[
					'返回首页','成功案例'
				],
			},
			methods:{
				jumpFn:function(item,index){
					console.log(item)
					console.log(index)
					if(item == '返回首页'){
						sessionStorage.setItem('navindex','0')
						window.open('index.html','_self')
					}
				}
			},
			mounted:function(){
				
			}
		})
	</script>
</html>
